.serviceItem
  .serviceItem__img
    img(src="http://placehold.it/100x100", alt="")
  h2.serviceItem__heading Lorem
  .serviceItem__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem!
 
